.polls-archive {
	position: relative;
	padding: 100px 0;
	margin-top: 160px;
	background: rgba($primaryColor, 0.08);

	@include breakpoint('xs') {
		padding: 50px 0;
		margin-top: 60px;
	}

	> h3 {
		@include backgroundWidgetHeading();
	}

	&__listing {
	   	@include breakpoint($min: 680px) {
	   		width: calc(100% + 30px);
	   		margin-bottom: -30px;
	   		@include flexbox;
	   		@include flex-wrap(wrap);
	   	}

	   	@include breakpoint($max: 600px) {
	   		margin-top: 20px;
	   	}

	   	+ .button--large {
	   		span {
		   		background: tomato;
	   		}

	   		&:after {
	   			border-color: tomato;
	   		}
	   	}

		> a {
		    margin-bottom: 30px;
		    padding: 40px 40px 0 40px;
		   	overflow: hidden;
		    text-align: center;
		   	word-break: break-word;
		    background: #ffffff;
		   	box-orient: vertical;
		   	box-direction: normal;
		   	-webkit-flex-direction: column;
		   	-moz-flex-direction: column;
		   	flex-direction: column;
		   	-ms-flex-direction: column;
		   	-webkit-box-pack: justify;
		   	-moz-box-pack: justify;
		   	box-pack: justify;
		   	-ms-flex-pack: justify;
		   	align-items: center;
			@include flexbox;
			@include justify(space-between);
			@inlude align-items(center);
			@include anim(all .4s ease);

	   	   	@include breakpoint($min: 680px) {
	   		    margin-right: 30px;
	   	   	}

		   	@include breakpoint($min: 680px, $max: 991px) {
	   			@include flex(0 0 calc(50% - 30px));
	   		    min-width: calc(50% - 30px);
	   		    width: calc(50% - 30px);
		   	}

		   	@include breakpoint($min: 992px) {
	   			@include flex(0 0 calc(33.33% - 30px));
	   		    min-width: calc(33.33% - 30px);
	   		    width: calc(33.33% - 30px);
		   	}

		   	&:hover {
		   		box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.15);
		   		@include transform(translateY(-10px));
		   	}

		    .poll-date {
		    	color: $primaryColor;
		    	font-size: 16px;
		    	font-weight: 600;
		    }
 
		    h5 {
		    	display: block;
		    	margin-top: 10px;
		    	width: 100%;
		    	font-size: 20px;
		    	font-weight: 700;
		    	color: $textColor;
		    }

		    .poll-bars {
		    	position: relative;
		    	height: 145px;
		    	margin: 45px 0 0 0;
		    	padding: 0;
		    	list-style: none;
		    	-webkit-box-align: end;
		    	-moz-box-align: end;
		    	box-align: end;
		    	-ms-flex-align: end;
		    	@include flexbox;
		    	@include align(flex-end);

		    	li {
	    		    position: relative;
	    		    min-width: 50px;
	    		    height: 100%;
	    		    cursor: pointer;
	    		    font-size: .88889rem;
	    		    color: #44326b; 
	    		    background: rgba($primaryColor, 0.08);
		    		-ms-flex-align: end;
	    		    -webkit-box-align: end;
	    		    -moz-box-align: end;
	    		    box-align: end;
		    		@include flexbox;
		    		@include align(flex-end);
	    		    @include justify(center);

	    		    span {
	    		    	@include anim(all .2s ease);
	    		    	position: absolute;
	    		    	top: -5px;
	    		    	opacity: 0;
	    		    	left: 5px;
	    		    	right: 5px;
	    		    	padding: 5px 0;
	    		    	background: rgb(255, 255, 255);
	    		    	line-height: 1;
	    		    	border-radius: 3px;
	    		    	color: $textColor;
	    		    	font-size: 12px;
	    		    	font-weight: 600;
	    		    	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	    		    }

	    		    + li {
	    		    	margin-left: 10px;
	    		    }

	    		    &:hover {
	    		    	span {
	    		    		@include translate(0,-5px);
	    		    		opacity: 1;
	    		    	}
	    		    }
		    	}
		    }
		}
	}
}